[submodule "backend"]
	path = backend
	url = https://github.com/asiimwemmanuel/VoteAble-AKHS-v0-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/asiimwemmanuel/VoteAble-AKHS-v0-frontend.git
